.cartImage {
  width: 150px;
  height: 150px;
  /* margin-right: 24px; */
}

#cartListing {
  /* margin: 20px; */
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  /* justify-content: left; */
}

#cartOverview {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#cartDetails {
  margin-left: 20px;
}

.subtotal{
  margin-top: auto;
}

.taxes{
  margin-top: -5px;
  margin-bottom: 30px;
}

.cartTotals {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 1px grey;
  padding: 20px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc;
  padding: 60px 40px 20px 40px;
  border-radius: 10px;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  /* margin-bottom: 26px; */
}

input {
  margin-bottom: 10px;
}

.title {
  padding-bottom: 40px;
  font-size: 2em;;
}

label {
  padding-bottom: 4px;
  font-size: 15px;
  font-weight: bolder;
}

input {
  border-radius: 5px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  padding: 5px;
}

.fieldRow {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.fieldRow label{
  display: flex;
  flex-direction: column;
}

.secondField {
  margin-left: 20px;
}

.category {
  margin-top: -10px;
}

#clearAll {
  width: 200px;
  border: solid 1px #22947c;
  background-color: white;
  color: #22947c;
}

#clearAll:hover {
  width: 200px;
  background-color: #22947c;
  color: white;
}

.submit {
  margin-bottom: auto;
}



/* Trying the Modal CSS
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* display: flex; */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  } 
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .no-show{
      display:none;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


@media only screen and (min-width: 768px) {
.screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  
  .screenLeft {
    flex: 50;
    display: flex;
    flex-direction: column;
  }
  
  .screenRight {
    flex: 50;
    display: flex;
    flex-direction: column;
    }

  .cartCheckout {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 140px;
  }

  #cartOverview {
    display: flex;
    width: 50vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .cartTotals {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #ededed;
    padding: 60px 40px 20px 40px;
    border-radius: 10px;
    margin-left: 50px;
    /* min-width: 220px;
    height: 220px; */
  }
}