/* hero image start */

.heroArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

video#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  /* width: auto;
  height: auto; */
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(placeholder.jpg) no-repeat;
  background-size: cover;
  filter: brightness(60%);
  }

  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30vh;
    /* position: absolute; */
    z-index: 1;
    /* margin: 0.625rem; */
  }

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
  color: white;
  text-align: center;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
  color: white;
  text-align: center;
}
.hero-button {
  color: white;
  margin-top: 5rem;
  width: 30vw;
  cursor: pointer;
}

/* hero image end */



/* #productName {
    display: flex;
    flex-direction: column-reverse;
} */



#shopItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productBlock {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#productShop {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.shopImage {
    max-width: 100%;
    height: auto;
  }

  .productOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -14px;
    margin-bottom: 10px;
  }


@media only screen and (min-width: 768px) {


#shopItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.shopImage {
  width: 44vw;
  height: auto;
}

#add-to-cart {
  margin-bottom: 40px;
}

}