/* hero image start */
.heroArea {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 0em; */
  background-repeat: no-repeat;
  /* background-size: */
  filter: brightness(60%);
  position: relative;
  z-index: 1;
  /* position: absolute; */
}

/* #heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .hero::before {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(Cactus-Plant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
} */

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  /* margin: 0.625rem; */
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
  color: white;
  text-align: center;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
  color: white;
  text-align: center;
}
.hero-button {
  color: white;
  margin-top: 5rem;
  width: 30vw;
  cursor: pointer;
}
.hero-button:hover {
}

/* hero image end */



/* #productName {
    display: flex;
    flex-direction: column-reverse;
} */



#shopItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productBlock {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#productShop {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.shopImage {
    max-width: 100%;
    height: auto;
  }

  .productOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -14px;
    margin-bottom: -10px;
  }


@media only screen and (min-width: 768px) {


#shopItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.shopImage {
  width: 44vw;
  height: auto;
}

#add-to-cart {
  margin-bottom: 40px;
}

}